[submodule "escher"]
	path = escher
	url = https://github.com/forxhunter/escher.git
[submodule "escher_maps_BiGG"]
	path = escher_maps_BiGG
	url = https://github.com/forxhunter/Awesome_visualization_Metabolic_Network.git
